asgiref==3.3.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Django==3.2.2
django-scheduler==0.9.3
dominate==2.6.0
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
fpdf==1.7.2
get-all-tickers==1.7
greenlet==1.0.0
gunicorn==20.1.0
icalendar==4.0.7
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kaleido==0.2.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.4.1
multitasking==0.0.9
numpy==1.19.4
pandas==1.2.0
Pillow==8.2.0
plotly==4.14.3
pyparsing==2.4.7
pyperclip==1.8.1
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
retrying==1.3.3
schedule==1.1.0
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.23
sqlparse==0.4.1
urllib3==1.26.2
visitor==0.1.3
Werkzeug==1.0.1
WTForms==2.3.3
yahoofinancials==1.6
yfinance==0.1.59
