{% extends 'base.html' %}

{% block body %}


        <div class="container mtp-8">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 card transparent">
                    <div class="col-md-12">
                        <div class="lead text mtbp-5 mlrp-2">
                            Sad to see you go.
                        </div>
                        <form class="form mtp-5" action="{{url_for('unsubscribe')}}" method="post">
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Enter email" class="form-control" required>
                            </div>
                            <div>
                            <div class="form-row mtbp-5">
                                <input type="submit" name="submit" class="btn btn-block btn-color round mlrp-2" value="Unsubscribe">
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}